$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

$breakpoint-xs: 320px;
$breakpoint-sm: 645px;
$breakpoint-sm-md: 730px;
$breakpoint-md: 760px;
$breakpoint-md-lg: 1060px;
$breakpoint-lg: 1110px;
$breakpoint-xl: 1260px;
$breakpoint-xxl: 1400px;
